:host {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h1.colored-title {
  span {
    color: var(--primary);
  }
}

.mat-expansion-panel-header {
  padding: 0 1rem;
  height: 3rem;

  @media (max-width: 800px) {
    height: 8rem;
    ::ng-deep .mat-content {
      flex-direction: column;
    }
  }
}

.mat-expansion-panel-spacing {
  margin: 0.5rem 0;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  align-items: center;
  text-align: right;
  span:first-child {
    flex-grow: 1;
  }
  span + span {
    margin-left: 1rem;
  }
}

::ng-deep .mat-expansion-panel-body {
  @media (max-width: 800px) {
    padding: 0.5rem !important;
  }
}

.columns {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5rem;

  border-bottom: solid 0.2rem var(--primary);

  @keyframes column-slide-in {
    from {
      opacity: 0;
      height: 50%;
      // transform: translateY(100%) scaleY(0);
    }
    to {
      opacity: 1;
      height: var(--height);
      // transform: translateY(0) scaleY(1);
    }
  }

  .column {
    height: var(--height);
    background: var(--primary);
    min-width: 2rem;
    max-width: 3rem;
    min-height: 1.75rem;
    flex-grow: 1;
    border-radius: 0.25rem 0.25rem 0 0;

    transition: all 250ms ease;

    animation: column-slide-in 0.6s cubic-bezier(0.22, 1, 0.36, 1);

    & + .column {
      margin-left: 0.5rem;
    }

    position: relative;
    &:after {
      position: absolute;
      content: attr(data-label);
      white-space: break-spaces;
      font-size: 0.8rem;
      top: 0.5rem;
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
    }
  }

  @media (max-width: 800px) {
    .column {
      min-width: unset;
      & + .column {
        margin-left: 0.1rem;
      }
    }
  }
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    color: var(--accent);
    > * + * {
      margin-left: 0.5rem;
    }
  }
}
