<header>
  <h1 class="colored-title">
    <span>Wi</span>e <span>S</span>chlimm <span>Ka</span>nns <span>S</span>ein?
  </h1>
</header>

<p>Reduzier dein Stresslevel und rechne dir mögliche Endnoten fürs Studium aus</p>

<h2 class="title-with-button">
  <span>Notengruppen</span>
  <button mat-mini-fab color="primary" (click)="addSubject()">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    [disabled]="state.subjects.length === 0"
    (click)="saveState()"
    matTooltip="Speicher deine Notengruppen im Browser, damit sie beim nächsten mal noch da sind"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    [disabled]="!hasSaveState"
    (click)="loadState()"
    matTooltip="Lade den letzten gespeicherten Zustand"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let subject of state.subjects">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ subject.title }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>
          {{ subject.modules.length }} Module, davon {{ subject.ungraded.length }} unbenotet
        </span>
        <span> {{ subject.percentage }}% der Gesamtnote </span>
        <button
          mat-icon-button
          (click)="removeSubject(subject)"
          matTooltip="Unwiderruflich löschen"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-subject [subject]="subject" (subjectChanged)="calculate()"></app-subject>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="!isOneHundred" class="warn">Anteile der Notengruppen ergeben nicht 100%</p>

<h2>Gewichtung</h2>

<p>
  Wähle für deine unbenoteten Module aus, in welchem Bereich du die Modulnote schätzt und welche
  Note am wahrscheinlichsten ist
</p>

<app-weighting
  *ngFor="let mod of ungraded"
  [module]="mod"
  (weightChanged)="calculate()"
></app-weighting>

<h2 class="title-with-button">
  <span>Ergebnisse</span>
  <!--button mat-flat-button color="primary" (click)="calculate()">Neu berechnen!</button-->
  <span class="small"><i>Angaben ohne Gewähr</i></span>
</h2>

<div class="columns">
  <div
    class="column"
    *ngFor="let data of labeledResults | keyvalue"
    [style.--height]="12 + 100 * (data.value / distMax) + '%'"
    [attr.data-label]="data.key + '\n' + getProbability(data.key)"
  ></div>
</div>

<h2>Anmerkungen</h2>

<p>
  Die genaue Rechenweise der Benotungssysteme ist <strong>nur geschätzt</strong>! Über detaillierte
  Informationen, wann, wo, wie und ob bei der Berechnung von Gesamtnoten und Modulnoten gerundet
  wird bedanke ich mich.
</p>

<hr />

<p>
  Wie viel eine einzelne Modulnote für eine Notengruppe zählt, wird über die Credit Points
  berechnet:
</p>

<code>
  Punkte vom Modul / Anzahl an Punkten in der Notengruppe = Anteil der Modulnote an Notengruppe
</code>

<hr />

<p>
  Da Arbeiten wie bspw. die Bachelorarbeit als eigene Notengruppe einen festen Prozentsatz ausmacht,
  kann dieser Anteil nicht wie bei der Modulnote aus den Credit Points genommen werden.
</p>

<footer>
  <a href="https://github.com/HeyItsBATMAN/WiSKaS">
    <span>WiSKaS auf GitHub</span>
    <img src="assets/github.png" />
  </a>
</footer>
