<mat-form-field appearance="fill">
  <mat-label>Modulname</mat-label>
  <input
    matInput
    placeholder="z.B. AM1 oder Bachelorarbeit"
    [(ngModel)]="mod.title"
    (change)="emitChange()"
  />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Credit Points</mat-label>
  <input
    matInput
    type="number"
    min="1"
    max="100"
    [(ngModel)]="mod.credits"
    (change)="emitChange()"
  />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Note</mat-label>
  <mat-select [(ngModel)]="mod.grade" (selectionChange)="emitChange()">
    <mat-option *ngFor="let grade of possibleGrades" [value]="grade"> {{ grade }} </mat-option>
  </mat-select>
</mat-form-field>
